# Настройка модели для векторизации материалов 
MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2

# Настройка БД
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=
DB_NAME=

# Настройка сервера ИИ
PORT=8002
HOST=localhost

# Настройка адресов основного сервера
MAIN_SERVER_URL=http://localhost:5000
MAIN_SERVER_LOGS_ENDPOINT=/api/admin/parser/logs